.contact {
  padding: 4rem 2rem;  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background: linear-gradient(
    180deg,
    var(--branco) 40%,
    var(--rosa-pastel) 80%      
  );
}

.titulo {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  color: var(--rosa-principal);
  font-weight: bold;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; 
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}

.foto-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  flex: 1;
}

.foto {  
  width: 400px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover; 
  display: block;  
  border: 6px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, #e8a6b6, #bcd9e8, #d8c6e8) border-box;
  box-shadow: 0px 8px 18px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.foto:hover {
  transform: translateY(-5px);
}

.legenda {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}


.cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; 
}

.card-contact {
  background: white;
  border-radius: 12px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 350px; 
  width: 100%; 
  justify-content: flex-start;
}

.card-contact:hover {
  transform: translateY(-5px);
  background: #fadadd;
}

.card-contact p {
  margin: 0;
  font-size: 1.1rem;
  color: #555;
  
}


.icon {
  font-size: 2.5rem;
}

.icon.email { color: #ea4335; }
.icon.whatsapp { color: #25D366; }
.icon.instagram { color: #E1306C; }
.icon.linkedin { color: #0077B5; }

.card-contact a, .card-contact p {
  margin: 0;
  font-weight: 500;
  color: #333;
  text-decoration: none; 
}

.card-resposta {
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  background: #f3f8ff;
  border-radius: 12px;
  font-size: 0.9rem;
  color: #3a4b63;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.icon.clock {
  color: var(--azul-principal);
  font-size: 1.1rem;
}


/* Responsividade */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .foto {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .foto img {
    height: auto;    
  }

  .cards-container {
    width: 100%;
    max-width: 320px;
  }

  .card-contact {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .cards-container {
    order: 1;
  }

  .foto-container {
    order: 2;
  }

  .titulo {
    text-align: center;
  }
}