.header {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
  z-index: 1000;
}

.logo img {
  height: 60px;
  width: 60px;
}

.menu-toggle {
  display: none; 
  font-size: 1.8rem;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-weight: bold;
}

.header ul li a:hover {
  color: #ee95ca;
}

.cta {
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  background: #e7b2d4;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header nav.active {
  right: 0;
}



@media (max-width: 900px) {
  .header {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    justify-content: space-between;
  }

  .header .logo img {
    width: 50px;
    height: 50px;
  }

  .header nav {
    width: 250px;
    padding-top: 6rem;
  }
  .menu-toggle {
    order: 2; 
  }

  .header .logo {
    order: 1; 
  }
}


@media (max-width: 480px) {
  .header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .header .logo img {
    width: 45px;
    height: 45px;
  }

  .menu-toggle {
    order: 2; 
  }

  .header .logo {
    order: 1; 
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
  }

  .nav {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    width: 100%;
    background: white;

    flex-direction: column;
    align-items: center;

    gap: 1.5rem;
    padding: 2rem 0;

    display: none; 
  }

  .nav.active {
    display: flex; 
  }

  .nav ul {
    flex-direction: column;
    gap: 1.2rem;
  }
}
