.header {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
}

.logo img {
  height: 60px;  
}

.menu-toggle {
  display: none; 
  font-size: 2rem;
  cursor: pointer;   
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav ul li a {
  text-decoration: none;  
  font-weight: 500; 
  position: relative; 
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--rosa-principal);
  transition: width 0.3s ease;
}

.nav ul li:nth-child(1) a { color: #9bc7c5; } 
.nav ul li:nth-child(2) a { color: #d8a1c4; } 
.nav ul li:nth-child(3) a { color: #8fb7c8; } 
.nav ul li:nth-child(4) a { color: #e6a7a7; } 
.nav ul li:nth-child(5) a { color: #dfa0e7; } 

.nav ul li a:hover {   
  transform: translateY(-2px);  
}

.nav ul li a:hover::after {
  width: 100%;  
}

.cta {
  padding: 0.80rem 1.8rem;
  border-radius: 999px;
  background: linear-gradient(135deg, #e7b2d4, #e8a6c1);
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(216, 144, 183, 0.3);
}


@media (max-width: 900px) {  
  
  .menu-toggle {
    order: 2; 
  }

  .header .logo {
    order: 1; 
  }
}


@media (max-width: 768px) {  

  .menu-toggle {
    display: block;
    z-index: 2001;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #fdf6f8 60%     
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);    
    z-index: 2000;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav ul {
    flex-direction: column;
    gap: 2rem;
  }

  .nav ul li a {
    font-size: 1.4rem;
   
  }
  
  .cta {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .header .logo img {    
    height: 45px;
  }

  
}